{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{settings.site_name}} | {{settings.subtitle}}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Click on interactive charts/maps for Somalia internal displacements monitored by UNHCR Protection and Return Monitoring Network (PRMN) implemented by NRC -->
  <meta http-equiv="expires" content="thu, 14 sep 2017 14:30:00 GMT">
  <meta http-equiv="Cache-Control" content="no-cache" />

  <!-- Open Graph data -->
  <meta property="og:title" content="{{settings.site_name}} - Interactive Internal Displacements Visualisation" />
  <meta property="og:image" content="{% static 'docmanager/img/drc_logo.png' %}"
  />
  <meta property="og:site_name" content="{{settings.site_name}}" />
  <meta property="og:description" content="{{settings.site_description}}"
  />
  <meta property="og:url" content="http://51.15.202.138:8000" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@drc_dk">
  <meta name="twitter:creator" content="@drc_dk">
  <meta name="twitter:title" content="{{settings.site_name}} - Interactive Internal Displacements Visualisation">
  <meta name="twitter:description" content="{{settings.site_description}}">
  <meta name="twitter:image" content="https://unhcr.github.io/dataviz-somalia-prmn/img/UNHCR-Somalia-PRMN-Interactive-displacements.jpg">

  <!-- Google+ markup -->
  <meta itemprop="name" content="{{settings.site_name}} - Interactive Internal Displacements Visualisation">
  <meta itemprop="description" content="{{settings.site_description}}">
  <meta itemprop="image" content="https://unhcr.github.io/dataviz-somalia-prmn/img/UNHCR-Somalia-PRMN-Interactive-displacements.jpg">

  <script src="{% static 'docmanager/js/d3.min.js' %}"></script>
  <!-- d3.js version 3.x.x with dc.js -->
  <script src="{% static 'docmanager/js/crossfilter.min.js' %}"></script>
  <!-- crossfilter.js -->
  <script src="{% static 'docmanager/js/dc.js' %}"></script>
  <!-- dc.js -->
  <script src="{% static 'docmanager/js/d3-tip.js' %}"></script>
  <!-- dc.js -->
  <script src="{% static 'docmanager/js/jquery.min.js' %}"></script>
  <!-- jquery.js cause bootstrap requires it -->
  <script src="{% static 'docmanager/js/tether.min.js' %}"></script>
  <!-- bootstrap.js requires tether.io error-->
  <script src="https://unpkg.com/dataviz-styleguide/semantic/dist/semantic.min.js"></script>
  <!-- bootstrap.js -->
  <script src="{% static 'docmanager/js/lodash.min.js' %}"></script>
  <!-- underscore.js -->
  <script src="{% static 'docmanager/js/melt.js' %}"></script>
  <!-- melt.js -->
  <script src="{% static 'docmanager/js/colorbrewer.js' %}"></script>
  <!-- melt.js -->

  <!-- css for unhcr-semantic-ui -->
  <link rel="stylesheet" href="https://unpkg.com/dataviz-styleguide/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="https://unpkg.com/dataviz-styleguide/styles.css">
  <!-- local-semantic-ui-dev-->
  <!-- <link rel="stylesheet" href="../dataviz-styleguide/semantic/dist/semantic.min.css"> -->
  <!-- <link rel="stylesheet" href="../dataviz-styleguide/styles.css"> -->

  <link href="{% static 'docmanager/css/dc.css' %}" rel="stylesheet">
  <link href="{% static 'docmanager/css/colorbrewer.css' %}" rel="stylesheet">
  <link href="{% static 'docmanager/css/style.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

  <script src="https://unpkg.com/iframe-resizer@3.5.15/js/iframeResizer.contentWindow.min.js"></script>

</head>

<body>
  <script>
    window.org_name = "{{ settings.org_name }}"
  </script>
  <div>
    <br/>

    {% include "docmanager/partials/header.html" %}

    {% block content %}{% endblock %}


  </div>

  <!-- TODO: Add footer -->
  <div></div>

  {% if request.get_full_path != '/archives/' and error is None %}
    {% include "docmanager/partials/mainscript.html" %}
  {% endif %}

  <!-- <script src="{% static 'docmanager/main.js' %}"></script> -->
</body>

</html>
