{% extends 'docmanager/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="ui grid">

  <div class="row">

    <div class="four wide column">
      <div class="ui small statistic">
        <div class="blue label">Archives</div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="twelve wide column">
      <table class="archives-table">
        <thead>
          <tr>
            <th>File name</th>
            <th>Month</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          {% for doc in data.docs %}
          <tr>
            <td class="file-name-cell">
              <a href="/file/{{doc.id}}/">{{doc.file_name}}</a></td>
            <td class="month-cell">{{doc.month}}</td>
            <td class="year-cell">{{doc.year}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>



{% endblock %}
