{% extends 'docmanager/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="ui grid">

  <div class="row">

    <div class="four wide column">
      <div class="ui small statistic">
        <div class="blue label">Archives</div>
      </div>
    </div>

  </div>

  <div class="row error-wrapper">
    <div class="">

      <h1>{{error.title}}</h1>
      <h5>{{error.text}}</h5>
    </div>
  </div>

</div>



{% endblock %}
