{% extends 'docmanager/layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="ui grid">

  <div class="row">
    <div class="four wide column">
      <div class="ui small statistic">
        <div class="blue label">Total Displacements</div>
        <div id="dc-displace-total-number" class="value nd"></div>
      </div>
    </div>
    <!-- / displacement total -->

    <div class="twelve wide column">
      <a class="ui primary button" style="float: right;" href="javascript:dc.filterAll(); dc.renderAll(); setResizingSvg();">
        Clear All Filters
      </a>
    </div>
    <!-- / filters -->
  </div>

</div>

<div class="ui grid stackable">

  <div id="leftPanel" class="six wide column">
    <!-- LEFT PANEL -->
    <div class="row chart-section">
      <!-- text section -->
      <div class="row" id="dc-month-chart">
        <h4 class="ui blue header">Monthly Displacements&nbsp;
          <a class="reset ui primary button mini" href="javascript: displaceMonthChart.filterAll(); dc.redrawAll();" style="visibility: hidden">
            Clear
          </a>
        </h4>
        <h5 class="ui header">
          <div class="sub header">
            <span class="filter"></span>&nbsp;
          </div>
        </h5>
      </div>
      <!-- / monthly displacement -->

      <div class="row" id="dc-displace-reason-chart">
        <h4 class="ui blue header">Reasons for Displacement&nbsp;
          <a class="reset ui primary button mini" href="javascript: displaceReasonChart.filterAll(); dc.redrawAll();" style="visibility: hidden">
            Clear
          </a>
        </h4>
      </div>
      <!-- / reasons displacement -->
    </div>
    <!-- / graph section  -->

    <div class="row text-section">
      <!-- text section -->
      <h4 class="ui header">Protection:</h4>
      <p>
        Advocacy for the rights of displaced people in their context of displacement, child protection initiatives, individual protection assistance based on vulnerability,
        legal aid, land & property rights, sexual and gender-based violence prevention, registration services for the internally displaced and refugees, monitoring of rights
        and rights awareness-raising, facilitation of return and repatriation processes.
      </p>
      <h4>How to use</h4>
      <ul>
        <li>Click and drag (brush) on 'Monthly Displacements' chart to select month(s).</li>
        <li>Click on any other chart or map element to filter and slice the data, click again on the same element to undo. </li>
        <li>To combine multiple filters, click multiple chart or map elements on any chart or map.</li>
        <li>Copy the link once you're done to share or tweet.</li>
        <li>Use the 'Clear' button to clear all filters for a specific chart or map</li>
        <li>Use 'Clear All Filters' button to clear all your filters for all charts and maps. </li>
      </ul>
      <h4>Dataset</h4>
      <p>
        Internal displacement dataset by month, reason and region is available
        <a href="{% static 'docmanager/data/DRC-Displacement-Dataset.xlsx' %}">here</a> under
        <a href="https://creativecommons.org/licenses/by/3.0/igo/legalcode" target="_blank">CC licence by IGOs</a>. Please attribute data to "DRC Somalia".
      </p>
      <br/>
    </div>
    <!-- / text section -->

  </div>
  <!-- / LEFT PANEL eight wide column -->


  <div id="rightPanel" class="ten wide column">
    <!-- RIGHT PANEL -->
    <div class="ui grid stackable">
      <div class="row">
        <div class="six wide column" id="dc-prev-region-map">
          <h4 class="ui blue header">Departure Regions Map&nbsp;
            <a class="reset ui primary button mini" href="javascript:prevRegionMap.filterAll(); dc.redrawAll();" style="visibility: hidden">
              Clear
            </a>
          </h4>
        </div>
        <!-- / departure regions map -->

        <div class="four wide column" id="dc-prev-region-chart">
          <h4 class="ui blue header">Departure Regions&nbsp;
            <a class="reset ui primary button mini" href="javascript:prevRegionChart.filterAll(); dc.redrawAll();" style="visibility: hidden">
              Clear
            </a>
          </h4>
        </div>
        <!-- / departure regions -->

        <div class="six wide column" id="dc-prev-district-map">
          <h4 class="ui blue header">Departure Districts Map&nbsp;
            <a class="reset ui primary button mini" href="javascript:prevDistrictMap.filterAll(); dc.redrawAll();" style="visibility: hidden">
              Clear
            </a>
          </h4>
        </div>
        <!-- / departure districts -->
      </div>
      <!-- / row -->

      <div class="row">

        <div class="six wide column" id="dc-curr-region-map">
          <h4 class="ui blue header">Arrival Regions Map&nbsp;
            <a class="reset ui primary button mini" href="javascript:currRegionMap.filterAll(); dc.redrawAll();" style="visibility: hidden">
              Clear
            </a>
          </h4>
        </div>
        <!-- / arrival regions map -->

        <div class="four wide column" id="dc-curr-region-chart">
          <h4 class="ui blue header">Arrival Regions&nbsp;
            <a class="reset ui primary button mini" href="javascript:currRegionChart.filterAll(); dc.redrawAll();" style="visibility: hidden">
              Clear
            </a>
          </h4>
        </div>
        <!-- / arrival regions -->

        <div class="six wide column" id="dc-curr-district-map">
          <h4 class="ui blue header">Arrival Districts Map&nbsp;
            <a class="reset ui primary button mini" href="javascript:currDistrictMap.filterAll(); dc.redrawAll();" style="visibility: hidden">
              Clear
            </a>
          </h4>
        </div>
        <!-- / departure districts -->

      </div>
      <!-- / row -->

    </div>
    <!-- / ui-grid stackable -->
  </div>
  <!-- / RIGHT PANEL eight wide column -->

</div>
<!-- / ui-grid stackable -->

{% endblock %}
