{% load staticfiles %}
{% block header %}
<div class="ui grid unhcr-header unhcr-header-style3">
  <a href="/">
    <img class="unhcr-header-logo" src="{% static 'docmanager/img/drc_logo.png' %}">
  </a>
  <div class="unhcr-header-title">
    <a href="/">
      <h1>{{settings.country}}</h1>
      <h2>{{settings.name}}</h2>
      <h3>{{settings.site_description}}</h3>
    </a>
  </div>

  <div class="ui grid">
    <div class="row page-menus-custom">
      <div class="">
        {# <pre>{{request.get_full_path}}</pre> #}
        {% if request.get_full_path != '/archives/' %}
        <a class="ui secondary button" href="/archives">
          Archives
        </a>
        {% endif %}
      </div>
      <div class="">
        {% if request.get_full_path != '/' %}
        <a class="ui secondary button" href="/">
          Home
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="unhcr-header-social">

    <a href="{{settings.url}}" title="Back to Data Portal">Back to Data Portal</a>
    <a href="{{settings.facebook_link}}" target="_blank"
      title="Share on Facebook">
      <i class="facebook square icon"></i>
    </a>
    <a href="{{settings.twitter_link}}"
      target="_blank" title="Share on Twitter">
      <i class="twitter square icon"></i>
    </a>
    <a href="https://plus.google.com/share?app=100&url={{settings.url}}" target="_blank"
      title="Share on Google+">
      <i class="google plus square icon"></i>
    </a>
    <a href="mailto:?subject={{settings.email.subject}}&amp;body={{settings.email.body}}"
      target="_blank" title="Share via Email">
      <i class="mail square icon"></i>
    </a>


  </div>
  <!-- <div class="unhcr-header-divider"></div> -->
</div>
{% endblock %}
